.tab {
  justify-content: center;
  li {
    a {
      border-left: 1px solid #eee;
      border-right: 1px solid #eee;
      border-bottom: 8px solid #fff;
      color: $font-dark;
      padding: 25px 64px;
      justify-content: center;
      align-items: center;
      &:hover {
        background-color: #e4e4e4;
        border-bottom: 8px solid $color-primary;
      }
      &:active {
        border-bottom: 8px solid $color-primary;
      }
      img {
        width: 44px;
        height: 44px;
        margin-right: 8px;
      }
    }
  }
  @include pad {
    li {
      width: 230px;
    }
  }
  @include mobile {
    li {
      width: 150px;
    }
  }
}

.tab a.active {
  border-bottom: 8px solid $color-primary;
}

.prod-banner .frame {
  .frame {
    width: 50%;
  }
}

.product-small-card {
  padding: 80px 0 96px 0;
  align-items: center;
  h2 {
    font-weight: bold;
  }
  .info {
    justify-content: space-around;
    flex-wrap: wrap;
    li {
      width: calc(25% - 30px);
      img {
        width: 255px;
        height: 164px;
        object-fit: cover;
      }
      margin-right: 16px;
      margin-bottom: 104px;
      .prod-info {
        text-transform: uppercase;
        justify-content: space-between;
        font-size: 24px;

        .prod-price {
          font-weight: 500;
          color: $color-primary;
        }
        @include pad {
          font-size: 18px;
        }
        @include mobile {
          font-size: 16px;
        }
      }
      .prod-color {
        margin-top: 8px;
        .color01 {
          width: 24px;
          height: 24px;
          background-color: $font-primary;
          border-radius: 4px;
          margin-right: 8px;
        }
        .color02 {
          width: 24px;
          height: 24px;
          background-color: $color-primary;
          border-radius: 4px;
        }
      }
    }
  }
  .pagination {
    margin-bottom: 160px;
    display: inline-block;
    display: flex;
    a {
      padding: 8px 16px;
      border: 1px solid #000;
      color: $font-dark;
      &:hover {
        background-color: #e4e4e4;
      }
      &.active {
        color: $font-light;
        background-color: #000;
      }
      &:first-child {
        border-radius: 4px 0 0 4px;
      }
      &:last-child {
        border-radius: 0 4px 4px 0;
      }
    }
  }
}
