@import "reset.scss";
@import "base.scss";

.titleRed {
  font-weight: bold;
  color: $font-primary;
}

.titleWhite {
  font-weight: bold;
  color: $font-light;
}

.titleBlack {
  font-weight: bold;
  color: $font-dark;
}

.nav a {
  color: $font-light;
  margin-right: 48px;
}

.contact a {
  color: $font-light;
  margin-left: 22px;
}

.header {
  background-color: $color-primary;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: space-between;
  h1 a {
    padding-left: 20px;
    background: url("../images/logo.png") center center no-repeat;
    display: block;
    width: 80px;
    height: 50px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
  }
}

.footer {
  background-color: $color-primary;
  padding-top: 44px;
  padding-bottom: 44px;
  .link-grp {
    justify-content: space-between;
  }

  .copyright {
    color: $font-light;
    justify-content: space-between;
    padding-top: 32px;
    border-top: 1px solid #fff;
  }
}

.banner {
  padding-top: 280px;
  padding-bottom: 280px;
  background: url("../images/banner.png") center center no-repeat;
  color: $font-primary;
  .d-col {
    align-items: flex-end;
  }
}

.philosophy {
  padding-top: 60px;
  padding-bottom: 80px;
  background-color: $color-secondary;
  color: $font-primary;
  .info-card {
    justify-content: space-between;
    li {
      max-width: 240px;
      text-align: center;
      p {
        color: $font-dark;
        text-align: start;
      }
      img {
        width: 80px;
        height: 80px;
      }
    }
  }
}

.classic {
  .product-grp li {
    color: $color-primary;
    align-items: center;
    margin-bottom: 32px;
    img {
      width: 635px;
      height: 320px;
      object-fit: cover;
      margin-right: 24px;
      margin-left: 24px;
    }
    .title-grp {
      align-items: center;
      h3 {
        font-weight: bold;
      }
    }
  }
}

.product-grp li:nth-child(1) .icon {
  width: 44px;
  height: 44px;
  background: url("../images/icon-diamond.svg") center center no-repeat;
}
.product-grp li:nth-child(2) .icon {
  width: 44px;
  height: 44px;
  background: url("../images/icon-sun.svg") center center no-repeat;
}
.product-grp li:nth-child(3) .icon {
  width: 44px;
  height: 44px;
  background: url("../images/icon-thunder.svg") center center no-repeat;
}

.coBranding {
  background: url("../images/bg.png") center center no-repeat;
  .product-card {
    justify-content: space-around;
    li {
      width: 540px;
      height: 540px;
      h3 {
        text-align: center;
        line-height: 540px;
      }
    }
  }
}

.product-card li:nth-child(1) {
  background: url("../images/product-8.png") center center no-repeat;
}
.product-card li:nth-child(2) {
  background: url("../images/product-9.png") center center no-repeat;
}

.comand-card {
  justify-content: space-around;
  li {
    max-width: 225px;
    height: 460px;
    border-radius: 4px;
    justify-content: space-between;
    box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.2);
    p {
      padding-left: 8px;
      padding-right: 8px;
      padding-bottom: 8px;
    }
  }
  .content {
    img {
      border-radius: 4px 4px 0 0;
    }
    p {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}

.contactUs {
  background-color: $color-secondary;
  .container {
    justify-content: center;
    align-items: center;
    form {
      max-width: 760px;
      .label-grp {
        margin-bottom: 20px;
      }
    }
  }
}

a:hover {
  color: $hightlight;
}
